# Dependencies
node_modules/
.pnpm-store/
**/node_modules/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
#.env.*
!.env.example
!.env.production

# Next.js & Build output
.next/
**/out/
**/dist/
**/build/

# Logs & Debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo

# Temporary & Test Cache
.cache/
*.tsbuildinfo